EPISIGNAL_ENV=
EPISIGNAL_API_HOST=
EPISIGNAL_API_PORT=
EPISIGNAL_DATABASE_URL=
EPISIGNAL_CORS_ORIGINS=
EPISIGNAL_LOG_LEVEL=
EPISIGNAL_OPENROUTER_API_KEY=
EPISIGNAL_GDELT_POLL_INTERVAL_MINUTES=
EPISIGNAL_GDELT_QUERY_WINDOW_MINUTES=
EPISIGNAL_GDELT_MAX_ARTICLES_PER_RUN=
EPISIGNAL_PIPELINE_CATCH_UP_MAX_MINUTES=
EPISIGNAL_AI_MAX_REQUESTS_PER_RUN=
EPISIGNAL_AI_MAX_COST_USD_PER_RUN=
EPISIGNAL_AI_SIGNAL_BATCH_LIMIT=
EPISIGNAL_STAGE0_NEAR_EXACT_TITLE_SIMILARITY=
EPISIGNAL_STAGE0_NEAR_EXACT_WINDOW_HOURS=
EPISIGNAL_EVENT_MATCH_REVIEW_THRESHOLD=
EPISIGNAL_EVENT_MATCH_JUDGE_BATCH_SIZE=
EPISIGNAL_RESUMMARY_NEW_ARTICLE_COUNT=
EPISIGNAL_RESUMMARY_MAX_AGE_HOURS=
EPISIGNAL_SUMMARY_MAX_SOURCES=
